/* Enter your custom styles here */
.left-align   {
     box-align: right;
    width: 30% !important;
    box-sizing: border-box;
  }

  .size  {
 
   fill: aqua !important;
   size: cover !important;
   
 }

 
 
 
  
  
 

 